@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-2 fw-bold text-success mb-4">
            Welcome to AgriEnergy Connects
        </h1>
        <p class="lead fs-4 text-dark">
            Empowering sustainable farming through smart digital solutions.
        </p>
    </div>
</div>
@* Start Bootstrap, 2025.Bootstrap Templates & Themes.[online] Available at: https://startbootstrap.com/themes#google_vignette [Accessed 11 May 2025] *@